
h2{
font-size: 1em;
text-align: center;
margin-top: 5px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3e93bc;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.eVentas{
  position: absolute;
  background-color: #3784a9;
  height: 6vh;
  width: 40vh;
 left: -20px;
}

.nav{
  position: absolute;
  background-color: #1e2a2e;
  height: 94vh;
  width: 40vh;
 left: -20px;

}
.userInfo,.info{
  display: inline-block;
}
.userInfo{
  position: relative;
  left: 30px;
  height: 15vh;
  width: 35vh;
}
.userPhoto{
  position: absolute;
  margin-top: 10px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-image:url(https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) ;
  background-size: cover;
}

.userName,.dot,.userStatus{
margin-top: 10px;
color: whitesmoke;
display: block;
position: relative;
left: 90px; 
}

.mainNavigation{
  background-color: #1b2022;
  width: 40vh;
  height: 5vh;
}
.navigation-font{
  color: gray;
  position: absolute;
  left: 30px;
  font-size: 15px;
  margin-top: 5px;
}

.navBar{
  position: relative;
  left: 30px;
  color: whitesmoke;
}
ul li::before{
  color: gray;
}
ul.navBar li {
  list-style-type: none;
  margin-right: 0px;
  margin: 5px;
  width: 250px;
}
.active {
  background-color: #1b2022;
  width: 250px;
}

.content{
  position: relative;
  right: -302px;
  top: -230px;
  background-color: whitesmoke;
  height: 93vh;
  width: 150vh;
}
.dashboard-titles{
  position: relative;
  right: -30px;
  top: 10px;
  height: 15vh;
  width: 30vh;
}

.title{
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.subtitle{
  font-size: 10px;
  display: inline-block;
}

.content-form{
  position: relative;
  right: 0px;
  top: 0px;
  background-color: whitesmoke;
  height: 93vh;
  width: 166vh;
}

.form-size{
  background-color: white;
  top: -50px;
  position: relative;
  right: -360px;
  height: 60vh;
  width: 70vh;
  padding: 10px;
}

